﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AOTrade</title>

    @*<environment include="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/css/site.css" />
        </environment>
        <environment exclude="Development">
            <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        </environment>*@


    <!-- Plugins css Select 2-->
    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" type="text/css" />

    <!-- Plugins css  Date Picker-->
    <link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <link href="~/lib/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">


    <!-- Plugins css DataTables -->
    <link href="~/lib/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />


    <!-- Plugins css Toastr css -->
    <link href="~/lib/jquery-toastr/jquery.toast.min.css" rel="stylesheet" />


    <!-- Plugins css Sweet Alert-->
    <link href="~/lib/sweet-alert/sweetalert2.min.css" rel="stylesheet" type="text/css" />

    <!-- Plugins css File upload (image)-->
    @*<link href="~/lib/bootstrap-fileupload/bootstrap-fileupload.css" rel="stylesheet" type="text/css" />*@

    <!-- App css -->
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="~/css/metismenu.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />


</head>

<body>

    <!-- Begin page -->
    <div id="wrapper">

        <!-- ========== Left Sidebar Start ========== -->
        @Html.Partial("_SideNav")
        <!-- Left Sidebar End -->

        <div class="content-page">
            <!-- Top Bar Start -->
            @Html.Partial("_TopNav")
            <!-- Top Bar End -->
            <!-- Start Page content -->
            <div class="content">

                @RenderBody()

            </div>

            <footer class="footer text-right">
                2019 © Abu Omar Trading Corporation
            </footer>

        </div>


        <!-- ============================================================== -->
        <!-- Main content END here -->
        <!-- ============================================================== -->


    </div>
    <!-- END wrapper -->
    <!-- jQuery  -->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/metisMenu.min.js"></script>
    <script src="~/js/waves.js"></script>
    <script src="~/js/jquery.slimscroll.js"></script>


    <!-- Select 2 -->
    <script src="~/lib/select2/js/select2.min.js" type="text/javascript"></script>
    <!-- Init Js file "Related with select 2" -->
    <script type="text/javascript" src="~/js/pages/jquery.form-advanced.init.js"></script>


    <!-- Auto Numberic  -->
    <script src="~/lib/autoNumeric/autoNumeric.js" type="text/javascript"></script>
    <script type="text/javascript">
        jQuery(function ($) {
            $('.autonumber').autoNumeric('init');
        });
        jQuery.browser = {};
        (function () {
            jQuery.browser.msie = false;
            jQuery.browser.version = 0;
            if (navigator.userAgent.match(/MSIE ([0-9]+)\./)) {
                jQuery.browser.msie = true;
                jQuery.browser.version = RegExp.$1;
            }
        })();
    </script>


    <!-- Date Picker  -->
    <script src="~/lib/bootstrap-timepicker/bootstrap-timepicker.js"></script>
    <script src="~/lib/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
    <script src="~/lib/clockpicker/js/bootstrap-clockpicker.min.js"></script>
    <script src="~/lib/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <!-- Init js "Related with Date Picker "-->
    <script src="~/js/pages/jquery.form-pickers.init.js"></script>


    <!-- Parsley js "For form validation"-->
    <script type="text/javascript" src="~/lib/parsleyjs/parsley.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('form').parsley();
        });
    </script>


    <!-- Datatable js -->
    <script src="~/lib/datatables/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            // Default Datatable
            $('#datatable').DataTable();

            // Responsive Datatable
            $('#responsive-datatable').DataTable();
        });
    </script>


    <!-- Toastr js -->
    <script src="~/lib/jquery-toastr/jquery.toast.min.js" type="text/javascript"></script>
    <script src="~/js/pages/jquery.toastr.js" type="text/javascript"></script>


    <!-- Sweet Alert Js  -->
    <script src="~/lib/sweet-alert/sweetalert2.min.js"></script>
    <script src="~/js/pages/jquery.sweet-alert.init.js"></script>

    <!-- Sweet Alert Js  -->
    <script src="~/lib/bootstrap-fileupload/bootstrap-fileupload.js"></script>

    <!--   -->
    <!-- App js -->
    <script src="~/js/jquery.core.js"></script>
    <script src="~/js/jquery.app.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/formdynamic.js"></script>





    @*<environment include="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>
        <environment exclude="Development">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>*@

    @RenderSection("Scripts", required: false)
</body>
</html>
