﻿<div class="left side-menu">

    <div class="slimscroll-menu" id="remove-scroll">

        <!-- User box -->
        <div class="user-box">
            <br />
            @*<span class="font-17 text-input-head">Balance: </span><span class="font-17 text-input-head">2,805,97,8.00</span>*@
            <br />
        </div>

        <!--- Sidemenu -->
        <div id="sidebar-menu">

            <ul class="metismenu" id="">

                @*<ul class="metismenu" id="side-menu">*@
                <!-- id  "side-menu"  used to auto collapse side nav-->


                <!--<li class="menu-title">Navigation</li>-->
                @*<li>
            <a href="@Url.Action("Index", "Report")">
                <i class="fi-air-play"></i><span class="badge badge-danger badge-pill pull-right">7</span> <span> Report </span>
            </a>
        </li>*@

                <li>
                    <a href="javascript: void(0);"><i class="fa fa-circle-o"></i> <span> Cash </span> <span class="menu-arrow"></span></a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li><a href="@Url.Action("Expense", "Cash")">Expense</a></li>
                        <li><a href="@Url.Action("Income", "Cash")">Income</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);"><i class="fa fa-circle-o"></i> <span> Stock </span> <span class="menu-arrow"></span></a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li><a href="@Url.Action("Sale", "Stock")">Sale</a></li>
                        <li><a href="@Url.Action("Purchase", "Stock")">Purchase</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);"><i class="fa fa-circle-o"></i> <span> Payroll </span> <span class="menu-arrow"></span></a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li><a href="@Url.Action("Employee", "Payroll")">Employee</a></li>
                        <li><a href="@Url.Action("EmpSalary", "Payroll")">Salary</a></li>
                        <li><a href="@Url.Action("Bonus", "Payroll")">Bonus</a></li>
                        <li><a href="@Url.Action("EmpLoan", "Payroll")">Loan</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);"><i class="fa fa-gears"></i> <span> Settings </span> <span class="menu-arrow"></span></a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li><a href="@Url.Action("ItemGroup", "Settings")">Item group</a></li>
                        <li><a href="@Url.Action("Item", "Settings")">Item</a></li>
                        <li><a href="@Url.Action("Company", "Settings")">Company</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);"><i class="fa fa-circle-o"></i> <span> Lp Gas </span> <span class="menu-arrow"></span></a>
                    <ul class="nav-second-level" aria-expanded="false">
                        @*<li><a href="@Url.Action("Action", "Controller")">Expense</a></li>*@
                    </ul>
                </li>


            </ul>

        </div>
        <!-- Sidebar -->

        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>