﻿<div class="row" style="margin: 0 0 20px 0px; border-bottom:2px solid #113671; padding-bottom:10px">
    <div style="width:12%; float:left">
        <img src="~/images/logo.png" class="img-responsive img-circle" style="height:60px;position:relative; left:15px;">
    </div>
    <div style="width:88%;  float:left; font-size:22px; color: #074874;position:relative; top:20px; font-weight:400">Abu Omar Trading Corporation</div>
</div>