﻿@{
    ViewData["Title"] = "ItemGroup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


        <div class="card-box" id="genericView">
            <input type="hidden" value="EmpBonusForm" id="formUrl">
            <input type="hidden" value="/Payroll/EmpBonusDelete/" id="deleteUrl">

                <div class="form-sec">
                    <form asp-controller="Payroll" asp-action="SaveEmpBonus" id="reportsData">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div id="formUI"></div>
                    </form>
                </div>


            <div class="table-responsive">
                @*<input type="hidden" value="EmpBonusList" id="datatableUrl">*@
                <div class="" id="reportsList">
                    @*------------------Table Data------------------*@
                </div>
            </div>
        </div>


