﻿@model AOTrade.Models.ViewModel.BonusRecordVM

<page size="A4">
    <br />
    <div class="row" style="border-bottom:1px solid #0f7b80; margin:10px">
        <div class="col-sm-8"></div>
        <div class="col-sm-4">
            <a onclick="tablesToExcel(array1, array2, 'myfile.xls')" class="btn btn-outline-secondary"><i class="fa fa-download"></i>&nbsp; xls</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a id="printarea" class="btn btn-outline-secondary"><i class="fa fa-download"></i>&nbsp; pdf</a>
        </div>
        <br /><br /><br />
    </div>
    <br />

    <div id="printTable">

        @*---------------------------------Design Report from here------------------------*@
        <link href="~/css/report.css" rel="stylesheet" type="text/css" />
        <div style="padding: 5px">
            @*-----report header------*@
            @await Html.PartialAsync("~/Views/Shared/InnerReportHeader.cshtml")
            @*----------------------------*@


            <table class="table table-borderless" id="1">
                <tr>
                    <td style="padding:0 0 10px 0">
                        <div style="width:100%; color:#2b313b; float:left">
                            <div style="float:left">
                                <div style="padding-bottom:5px;font-size:16px;">@Html.DisplayFor(model => model.Title) &nbsp; Bonus </div>
                                <div style=" max-width: 500px; word-break: break-all; padding-bottom:10px; font-size:13px;">
                                    @Html.DisplayFor(model => model.Description)
                                </div>
                            </div>

                            <div style="font-size:14px; width:40%; float:right">
                                <table align="right" class="table" style="width:70%; border:0px">
                                    <tr style="border:0px">
                                        <td width="40%" align="left" style="padding:0px">Date: @Html.DisplayFor(model => model.Date)</td>
                                    </tr>
                                    <tr style="border:0px">
                                        <td width="40%" align="left" style="padding:0px">Total amount: 2000000.00 &nbsp;</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>


            <table class="table table-bordered" style="width:100%;margin:-30px -20px 0 0" id="2">
                <tr style="text-align:left">
                    <th>
                        ID
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Designation
                    </th>
                    <th>
                        Salary
                    </th>
                    <th>
                        Percent
                    </th>
                    <th>
                        Bonus Amount
                    </th>
                    <th>
                        Signature
                    </th>
                </tr>

                @foreach (var item in Model.EmployeeVMList)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmpName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Designation)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Salary)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => modelItem.BonusPercent)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BeginSalary)
                        </td>
                        <td></td>
                    </tr>
                }
            </table>

        </div>

    </div>

</page>



<script src="~/js/printreport.js"></script>