﻿@model AOTrade.Models.ViewModel.BonusRecordVM
<input asp-for="Id" type="hidden" />

<div class="row">
    <div class="col-sm-12">
        <h4 class="m-t-0 m-b-30">Employee Bonus</h4>
    </div>
</div>

<div class="row" style="padding: 0 10px 0 10px">
    <div class="col-sm-1"></div>
        <div class="col-sm-2">
            <span class="font-14 text-input-head">Bonus title</span>
            <input asp-for="Title" class="form-control" required />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        <div class="col-sm-3">
            <span class="font-14 text-input-head">Description</span>
            <input asp-for="Description" class="form-control" placeholder="" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="col-sm-2">
            <span class="font-14 text-input-head">Percent</span>
            <input asp-for="BonusPercent" class="form-control autonumber" placeholder="10%" required />
            <span asp-validation-for="BonusPercent" class="text-danger"></span>
        </div>
        <div class="col-sm-2">
            <span class="font-14 text-input-head">Date</span>
            <input asp-for="Date" type="text" class="form-control datepicker-autoclose" placeholder="mm/dd/yyyy" required />
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>
        <div class="col-sm-2">
            <span class="font-14 text-white">.</span>
            <input class="btn btn-success ." value="Submit" type="submit" style="width:100%;" />
        </div>
    </div>





    <script src="~/js/pages/jquery.form-pickers.init.js"></script>


