﻿@{
    ViewData["Title"] = "ItemGroup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model AOTrade.Models.ViewModel.EmpLoanVM

<div class="card-box" id="genericView">
    <input type="hidden" value="EmpLoanForm" id="formUrl">
    <input type="hidden" value="/Payroll/EmpLoanDelete/" id="deleteUrl">

    <div class="form-sec">
        <form asp-controller="Payroll" asp-action="SaveEmpLoan" id="xformdata">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div id="formUI">

            </div>
        </form>
    </div>


    <input type="hidden" value="EmpLoanList" id="datatableUrl">
    <div class="tbl-sec table-responsive" id="xdataList">
        @*------------------Table Data------------------*@
    </div>
</div>