﻿@model AOTrade.Models.ViewModel.EmpLoanVM
<input asp-for="Id" type="hidden" />

<div class="row">
    <div class="col-sm-10">
        <h4 class="m-t-0 m-b-30">Employee Loan</h4>
    </div>
    <div class="col-sm-2">
        <span class="font-14 text-input-head">Date</span>
        <input asp-for="Date" type="text" id="dated" class="form-control datepicker-autoclose" placeholder="mm/dd/yyyy" required />
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>
</div>

<div class="row">
    <div class="col-sm-3">
        <span class="font-14 text-input-head">Employee name</span>
        <select asp-for="EmpId" asp-items="ViewBag.EmpId" class="form-control select2" required>
            <option value="">--  Select Employee  --</option>
        </select>
        <span asp-validation-for="EmpId" class="text-danger"></span>
    </div>

    <div class="col-sm-2">
        <span class="font-14 text-input-head">Loan amount</span>
        <input asp-for="LoanAmmount" class="form-control autonumber" required />
        <span asp-validation-for="LoanAmmount" class="text-danger"></span>
    </div>

    <div class="col-sm-2">
        <span class="font-14 text-input-head">Monthly deduction</span>
        <input asp-for="MonthlyDeduct" class="form-control autonumber" required />
        <span asp-validation-for="MonthlyDeduct" class="text-danger"></span>
    </div>

    <div class="col-sm-2">
        <span class="font-14 text-input-head">Deduction date</span>
        <input asp-for="DeductDate" type="text" class="form-control datepicker-autoclose" placeholder="mm/dd/yyyy" required />
        <span asp-validation-for="DeductDate" class="text-danger"></span>
    </div>

    <div class="col-sm-2">
        <span class="font-14 text-input-head">Remarks</span>
        <input asp-for="Remarks" class="form-control" />
        <span asp-validation-for="Remarks" class="text-danger"></span>
    </div>
    <div class="col-sm-1">
        <span class="font-14 text-transparent">Save</span>
        <input class="btn btn-success save" value="Save" type="submit" style="width:100%" />
    </div>
</div>

<script src="~/js/pages/jquery.form-pickers.init.js"></script>