﻿@model IEnumerable<AOTrade.Models.ViewModel.EmpLoanVM>

<table class="table table-bordered data-table">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                Loan
            </th>
            <th>
                Monthly deduct
            </th>
            <th>
                Deduct date
            </th>
            <th>
                Due loan
            </th>
            <th>
                Date
            </th>
            <th>
               Remarks
            </th>
            <th style="width: 75px;
    text-align: center;"></th>
        </tr>
    </thead>
    <tbody>
        @{int sl = 0; }
        @foreach (var item in Model)
        {
            sl++;
        <tr>
            <td>
                @sl
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Emp.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Emp.EmpName) (@Html.DisplayFor(modelItem => item.Emp.Designation))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoanAmmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MonthlyDeduct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeductDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueAmmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td class="edit-delete" style="width: 75px;
    text-align: center;">
                <a title="Edit" class="fa fa-edit fa-lg add-update" href="#" id="@item.Id"></a>&nbsp;
                @Html.Raw(" | ")&nbsp;<a title="Delete" class="text-danger fa fa-lg fa-trash-o delete" href="#" id="@item.Id"></a>
            </td>
        </tr>
        }
    </tbody>
</table>