﻿@{
    ViewData["Title"] = "ItemGroup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

        <div class="card-box" id="genericView">
            <input type="hidden" value="EmployeeForm" id="formUrl">
            <input type="hidden" value="/Payroll/EmployeeDelete/" id="deleteUrl">


                <div class="form-sec">
                    <form asp-controller="Payroll" asp-action="SaveEmployee" id="xformdata">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div id="formUI">

                        </div>
                    </form>
                </div>


                <input type="hidden" value="EmployeeList" id="datatableUrl">
                <div class="tbl-sec table-responsive" id="xdataList">
                    @*------------------Table Data------------------*@
                </div>
        </div>



