﻿@model AOTrade.Models.ViewModel.EmployeeVM

<input asp-for="Id" type="hidden" />

<div class="row">
    <div class="col-sm-12">
        <h4 class="m-t-0 m-b-30">Employee Information</h4>
    </div>
</div>


<div class="row">
    <div class="col-md-3">
        <div class="avatar-upload">
            <div class="avatar-edit">
                <input name="PhotoFile" type="file" id="imageUpload" accept=".png, .jpg, .jpeg" />
                <label for="imageUpload"></label>
            </div>
            <div class="avatar-preview">
                <div id="imagePreview">
                        <img src="../..@Html.DisplayFor(m => m.Photo)" class="img-responsive" style="height:188px; width:148px" alt="Picture">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12">
                <span class="font-14 text-input-head">Employee name</span>
                <input asp-for="EmpName" class="form-control" placeholder="" required />
                <span asp-validation-for="EmpName" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <span class="font-14 text-input-head">NID</span>
                <input asp-for="NidNo" class="form-control" placeholder="" required />
                <span asp-validation-for="NidNo" class="text-danger"></span>
            </div>
            <div class="col-md-5">
                <span class="font-14 text-input-head">Blood Group</span>
                <input asp-for="BloodGroup" class="form-control" placeholder="" />
                <span asp-validation-for="BloodGroup" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span class="font-14 text-input-head">Address</span>
                <input asp-for="Address" class="form-control" placeholder="" required />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <span class="font-14 text-input-head">Phone no</span>
                <input asp-for="PhoneNo" class="form-control" placeholder="" required />
                <span asp-validation-for="PhoneNo" class="text-danger"></span>
            </div>
            <div class="col-md-5">
                <span class="font-14 text-input-head">Salary</span>
                <input asp-for="Salary" class="form-control autonumber" placeholder="" required />
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="row">
            <div class="col-md-6">
                <span class="font-14 text-input-head">Designation</span>
                <input asp-for="Designation" class="form-control" placeholder="" required />
                <span asp-validation-for="Designation" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <span class="font-14 text-input-head">Join Date</span>
                <input asp-for="JoinDate" type="text" class="form-control datepicker-autoclose" placeholder="mm/dd/yyyy" id="" required/>
                <span asp-validation-for="JoinDate" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <span class="font-14 text-input-head">Email address</span>
                <input asp-for="Email" class="form-control" placeholder="" type="email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <span class="font-14 text-input-head">Birth Date</span>
                <input asp-for="BirthDate" type="text" class="form-control datepicker-autoclose" placeholder="mm/dd/yyyy" id="" required/>
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <span class="font-14 text-input-head">Father name</span>
                <input asp-for="FatherName" class="form-control" placeholder="" />
                <span asp-validation-for="FatherName" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <span class="font-14 text-input-head">Mother name</span>
                <input asp-for="MotherName" class="form-control" placeholder="" />
                <span asp-validation-for="MotherName" class="text-danger"></span>
            </div>
        </div>
        <div class="row">            
            <div class="col-md-12">
                <span class="font-14 text-transparent">.</span>
                <input class="btn btn-success save" value="Save" type="submit" style="float:right;width:100%" />
            </div>
        </div>
    </div>

</div>


<style>

    .avatar-upload {
        position: relative;
        max-width: 205px;
        margin: 20px auto;
    }

        .avatar-upload .avatar-edit {
            position: absolute;
            right: 65px;
            z-index: 1;
            top: 10px;
        }

            .avatar-upload .avatar-edit input {
                display: none;
            }

                .avatar-upload .avatar-edit input + label {
                    display: inline-block;
                    width: 45px;
                    height: 45px;
                    margin-bottom: 0;
                    border-radius: 100%;
                    background: none;
                    border: 1px solid #178276;
                    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                    cursor: pointer;
                    font-weight: normal;
                    transition: all 0.2s ease-in-out;
                }

                    .avatar-upload .avatar-edit input + label:hover {
                        background: #f1f1f1;
                        border-color: #d6d6d6;
                    }

                    .avatar-upload .avatar-edit input + label:after {
                        content: "\f030";
                        font-family: 'FontAwesome';
                        color: #178276;
                        position: absolute;
                        top: 8px;
                        left: 0;
                        right: 0;
                        font-size:20px;

                        text-align: center;
                        margin: auto;
                    }

        .avatar-upload .avatar-preview {
            width: 150px;
            height: 190px;
            position: relative;
            border: 1px solid #757575;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
            background-color:white;
        }

            .avatar-upload .avatar-preview > div {
                width: 100%;
                height: 100%;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }

</style>

<script>function readURL(input) {
    $("#imagePreview").html("");
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#imagePreview').css('background-image', 'url(' + e.target.result + ')');
                $('#imagePreview').hide();
                $('#imagePreview').fadeIn(650);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#imageUpload").change(function () {
        readURL(this);
    });
</script>

<script src="~/js/pages/jquery.form-pickers.init.js"></script>


