﻿@model AOTrade.Models.ViewModel.EmpSalaryVM
<input asp-for="Id" type="hidden" />
<div class="row">
    <div class="col-sm-10">
        <h4 class="m-t-0 m-b-30">Employee Salary</h4>
    </div>
    <div class="col-sm-2">
        <span class="font-14 text-input-head">Date</span>
        <input asp-for="Date" type="text" class="form-control datepicker-autoclose" placeholder="mm/dd/yyyy" required />
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>
</div> <br />
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th width="7%">
                        #
                    </th>
                    <th width="13%">
                        Employee ID
                    </th>
                    <th width="37%">
                        Name
                    </th>
                    <th width="23%">
                        Designation
                    </th>
                    <th width="20%">
                        Absent day/days
                    </th>
                </tr>
            </thead>
            <tbody>
                @{int indx = 0; int sl = 0; }
                @foreach (var item in Model.EmployeeVMList)
                {
                    sl++;
                    <tr>
                        <td>
                            @sl
                        </td>
                        <td>
                            <label class="text-form-label">@item.Id</label>
                            <input asp-for="EmpSalaryVMList[indx].EmpId" class="form-control" value="@item.Id" required type="hidden" />
                            <span asp-validation-for="EmpSalaryVMList[indx].EmpId" class="text-danger"></span>
                        </td>
                        <td>
                            <label class="text-form-label">@item.EmpName</label>
                        </td>
                        <td>
                            <label class="text-form-label">@item.Designation</label>
                        </td>
                        <td style="padding:0">
                            <input asp-for="EmpSalaryVMList[indx].AbsentDay" min=0 oninput="validity.valid||(value='');" class="form-control" style="font-size:16px;text-align:center" required />
                            <span asp-validation-for="EmpSalaryVMList[indx].EmpId" class="text-danger"></span>
                        </td>
                    </tr>


                    indx++;
                }
            </tbody>
        </table>
    </div>

</div>

<div class="row">
    <div class="col-sm-10"></div>
    <div class="col-sm-2">
        <span class="font-14 text-transparent">.</span>
        <input class="btn btn-success" value="Submit" type="submit" style="width:100%;" />
    </div>
</div>

<script src="~/js/pages/jquery.form-pickers.init.js"></script>