﻿@model IEnumerable<AOTrade.Models.ViewModel.EmpSalaryVM>

<table class="table table-bordered data-table">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                Designation
            </th>
            <th>
                Salary
            </th>
            <th>
                Absent / Deduct
            </th>
            <th>
                Deduct loan
            </th>
            <th>
                Due loan
            </th>
            <th>
                Total deduction
            </th>
            <th>
               Gross Salary
            </th>
            <th style="width: 75px;
    text-align: center;"></th>
        </tr>
    </thead>
    <tbody>
        @{int sl = 0; }
        @foreach (var item in Model)
        {
            sl++;
        <tr>
            <td>
                @sl
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Emp.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Emp.EmpName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Emp.Designation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Emp.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AbsentDay) / @Html.DisplayFor(modelItem => item.AbsentDeduct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoanDeduct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoanDueAmmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deduction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GrossSalary)
            </td>
            <td class="edit-delete" style="width: 75px;
    text-align: center;">
                <a title="Edit" class="fa fa-edit fa-lg add-update" href="#" id="@item.Id"></a>&nbsp;
                @Html.Raw(" | ")&nbsp;<a title="Delete" class="text-danger fa fa-lg fa-trash-o delete" href="#" id="@item.Id"></a>
            </td>
        </tr>
        }
    </tbody>
</table>