﻿@*@model AOTC.Models.DB.Auth*@
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css">
    <style type="text/css">
        .login-form {
            width: 340px;
            margin: 50px auto;
        }

            .login-form form {
                margin-bottom: 15px;
                background: #f7f7f7;
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
                padding: 30px;
            }

            .login-form h2 {
                margin: 0 0 15px;
            }

        .form-control, .btn {
            min-height: 38px;
            border-radius: 2px;
        }

        .btn {
            font-size: 15px;
            font-weight: bold;
        }
    </style>
</head>
<body>

    <div class="login-form">
        <form action="/Home/Request" method="post">
            <h2 class="text-center">Log in</h2>
            @*<div class="form-group">
                @Html.EditorFor(m => m.EmployeeId, new { htmlAttributes = new { @class = "form-control required", @placeholder = "User Id" } })
            </div>
            <div class="form-group">
                @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control required", @placeholder = "@email" } })
            </div>
            <div class="form-group">
                @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @class = "form-control required", @placeholder = "Password", @type = "password" } })
            </div>*@
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Log in</button>
            </div>
            <div class="clearfix">
                @*<label class="pull-left checkbox-inline"><input type="checkbox"> Remember me</label>
                    <a href="#" class="pull-right">Forgot Password?</a>*@
            </div>
        </form>
    </div>


    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
