﻿@model AOTrade.Models.ViewModel.ExpenseVM

<input asp-for="Id" type="hidden" />

<div class="row">
    <div class="col-sm-6">
        <h4 class="m-t-0 m-b-30">Sale</h4>
    </div>
    <div class="col-sm-4">
        <span class="font-14 text-input-head">Company name</span>
        <select asp-for="ItemGroupId" asp-items="ViewBag.CompanyId" class="form-control select2" id="itemGroupSelectAA" required>
            <option value="">--  Select group  --</option>
        </select>
        <span asp-validation-for="ItemId" class="text-danger"></span>
    </div>
    <div class="col-sm-2">
        <span class="font-14 text-input-head">Date</span>
        <input asp-for="Date" type="text" id="dated" class="form-control datepicker-autoclose" placeholder="mm/dd/yyyy" required />
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>
</div>

<br />

<div class="row">
    <div class="col-sm-3">
        <span class="font-14 text-input-head">Action</span>
        <select asp-for="ItemGroupId"  class="form-control select2" id="itemGroupSelectAA" required>
            <option value="">--  Select  --</option>
            <option value="">Product SALE</option>
            <option value="">Product Claim</option>
        </select>
        <span asp-validation-for="ItemId" class="text-danger"></span>
    </div>

    <div class="col-sm-3 ">
        <span class="font-14 text-input-head">Type</span>
        <select asp-for="ItemGroupId"  class="form-control select2" id="itemGroupSelectAA" required>
            <option value="">--  Select  --</option>
            <option value="">Free sale</option>
            <option value="">Market return</option>
        </select>
        <span asp-validation-for="ItemId" class="text-danger"></span>
    </div>


    <div class="col-sm-2">
        <span class="font-14 text-input-head">Amount</span>
        <input asp-for="Amount" class="form-control autonumber" placeholder="0.00" required />
        <span asp-validation-for="Amount" class="text-danger"></span>
    </div>

    <div class="col-sm-2">
        <span class="font-14 text-input-head">Remarks</span>
        <input asp-for="Description" class="form-control" placeholder="" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="col-sm-2">
        <span class="font-14 text-transparent">Save</span>
        <input class="btn btn-success" value="Save" type="submit" style="width:100%;" />
    </div>
</div>


<script src="~/js/pages/jquery.form-pickers.init.js"></script>


