﻿@{
    ViewData["Title"] = "Expense";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card-box" id="genericView">
    <input type="hidden" value="SaleForm" id="formUrl">
    <input type="hidden" value="/Stock/PurchaseDelete/" id="deleteUrl">

    <div class="form-sec">
        <form asp-controller="Cash" asp-action="SaveExpense" id="xformdata">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div id="formUI"></div>
        </form>
    </div>

    <input type="hidden" value="PurchaseList" id="datatableUrl">
    <div class="tbl-sec table-responsive" id="xdataList">
        @*------------------Table Data------------------*@
    </div>
</div>

