﻿@model IEnumerable<AOTrade.Models.ViewModel.ExpenseVM>

<table class="data-table table table-bordered">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Group name
            </th>
            <th>
                Item name
            </th>
            <th>
                Amount
            </th>
            <th>
                Remarks
            </th>
            <th>
                Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemGroup.GroupName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td class="edit-delete">
                <a title="Edit" class="fa fa-edit fa-lg add-update" href="#" id="@item.Id"></a>&nbsp;
                @Html.Raw(" | ")&nbsp;<a title="Delete" class="text-danger fa fa-lg fa-trash-o delete" href="#" id="@item.Id"></a>
            </td>
        </tr>
        }
    </tbody>
</table>