﻿@model AOTrade.Models.ViewModel.IncomeVM

<input asp-for="Id" type="hidden" />

<div class="row">
    <div class="col-sm-10">
        <h4 class="m-t-0 m-b-30">Income</h4>
    </div>
    <div class="col-sm-2">
        <span class="font-14 text-input-head">Date</span>
        <input asp-for="Date" type="text" id="dated" class="form-control datepicker-autoclose" placeholder="mm/dd/yyyy" required />
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>
</div>

<div class="row">
    <div class="col-sm-3" id="groupSelect">
        <span class="font-14 text-input-head">Item group</span>
        <select asp-for="ItemGroupId" asp-items="ViewBag.ItemGroupId" class="form-control select2" id="itemGroupSelectAA" required>
            <option value="">--  Select group  --</option>
        </select>
        <span asp-validation-for="ItemId" class="text-danger"></span>
    </div>

    <div class="col-sm-3" id="ietemNameSelect">
        <span class="font-14 text-input-head">Item Name</span>
        <select asp-for="ItemId" asp-items="ViewBag.ItemId" class="form-control select2" required>
            <option value=""></option>
        </select>
        <span asp-validation-for="ItemId" class="text-danger"></span>
    </div>

    <div class="col-sm-2">
        <span class="font-14 text-input-head">Amount</span>
        <input asp-for="Amount" class="form-control autonumber" placeholder="0.00" required />
        <span asp-validation-for="Amount" class="text-danger"></span>
    </div>

    <div class="col-sm-2">
        <span class="font-14 text-input-head">Remarks</span>
        <input asp-for="Description" class="form-control" placeholder="" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="col-sm-2">
        <span class="font-14 text-transparent">Save</span>
        <input class="btn btn-success" value="Save" type="submit" style="width:100%;" />
    </div>
</div>


<div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-9" style="margin-top:5px">
        <span class="font-13 text-gray" id="item-desp"></span>
    </div>
</div>


<script src="~/js/pages/jquery.form-pickers.init.js"></script>


