﻿@model AOTrade.Models.ViewModel.CompanyVM

<input asp-for="Id" type="hidden" />
<div class="row">
    <div class="col-sm-12">
        <h4 class="m-t-0 m-b-30">Company Information</h4>
    </div>
</div>
<div class="row">

    <div class="col-sm-3">
        <span class="font-14 text-input-head">Company name</span>
        <input asp-for="CompanyName" class="form-control" required />
        <span asp-validation-for="CompanyName" class="text-danger"></span>
    </div>

    <div class="col-sm-6">
        <span class="font-14 text-input-head">Description</span>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="col-sm-2">
        <span class="font-14 text-input-head">Commission (%)</span>
        <input asp-for="CompanyPercent" class="form-control autonumber" placeholder="0.00" required />
        <span asp-validation-for="CompanyPercent" class="text-danger"></span>
    </div>

    <div class="col-sm-1">
        <span class="font-14 text-transparent">Save</span>
        <input class="btn btn-success save" value="Save" type="submit" style="width:100%" />
    </div>
</div>