﻿@model AOTrade.Models.ViewModel.ItemVM

<input asp-for="Id" type="hidden" />

<div class="row">
    <div class="col-sm-12">
        <h4 class="m-t-0 m-b-30">Item Information</h4>
    </div>
</div>

<div class="row">
    <div class="col-sm-3">
        <span class="font-14 text-input-head">Item group</span>
        <select asp-for="GroupId" asp-items="ViewBag.GroupId" class="form-control select2" required>
            <option value="">--  Select group  --</option>        </select>
        <span asp-validation-for="GroupId" class="text-danger"></span>
    </div>

    <div class="col-sm-3">
        <span class="font-14 text-input-head">Item Name</span>
        <input asp-for="ItemName" class="form-control" required />
        <span asp-validation-for="ItemName" class="text-danger"></span>
    </div>
    <div class="col-sm-4">
        <span class="font-14 text-input-head">Description</span>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="col-sm-2">
        <span class="font-14 text-transparent">.</span>
        <input class="btn btn-success save" value="Save" type="submit" style="float:right;width:100%" />
    </div>
</div>

@*<td align="right">
    <button id="remove-form-row" type="button" class="btn btn-rounded btn-danger" style="display:none"> <i class="fa fa-remove"></i> </button>
    <button id="add-form-row" type="button" class="btn btn-rounded waves-effect waves-light btn-primary"> <i class="fa fa-plus"></i> </button>
</td>*@

