﻿@model AOTrade.Models.ViewModel.ItemGroupVM

<input asp-for="Id" type="hidden" />

<div class="row">
    <div class="col-sm-12">
        <h4 class="m-t-0 m-b-30">Item Group</h4>
    </div>
</div>

<div class="row">
    <div class="col-sm-3">
        <span class="font-14 text-input-head">Group name</span>
        <input asp-for="GroupName" class="form-control" required />
        <span asp-validation-for="GroupName" class="text-danger"></span>
    </div>

    <div class="col-sm-5">
        <span class="font-14 text-input-head">Description</span>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="col-sm-2">
        <span class="font-14 text-input-head">Group type</span>
        <select asp-for="Type" asp-items="ViewBag.Type" class="form-control select2" required>
            <option value="">--  Select type  --</option>
        </select>
        <span asp-validation-for="Type" class="text-danger"></span>
    </div>

    <div class="col-sm-2">
        <span class="font-14 text-transparent">Save</span>
        <input class="btn btn-success save" value="Save" type="submit" style="width:100%" />
    </div>
</div>