﻿@{
    ViewData["Title"] = "ItemGroup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


        <div class="card-box" id="genericView">

            <input type="hidden" value="ItemForm" id="formUrl">
            <input type="hidden" value="/Settings/ItemDelete/" id="deleteUrl">

            <div class="form-sec">
                <form asp-controller="Settings" asp-action="SaveItem" id="xformdata">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div id="formUI">

                    </div>
                </form>
            </div>

                <input type="hidden" value="ItemList" id="datatableUrl">
                <div class="tbl-sec table-responsive" id="xdataList">
                    @*------------------Table Data------------------*@
                </div>
        </div>


