﻿@model IEnumerable<AOTrade.Models.ViewModel.ItemGroupVM>

<table class="table table-bordered data-table">
    <thead>
        <tr>
            <th>
            #
            </th>
            <th>
                Group Name
            </th>
            <th>
                Description
            </th>
            <th>
                Group  type
            </th>
            <th>
                Create Date
            </th>
            <th></th>
        </tr>
    </thead>
    @{ int sl = 0; }
    @foreach (var item in Model)
    {
        sl++;
        <tr>
            <td>
                @sl
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GroupName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td class="edit-delete">
                <a title="Edit" class="fa fa-edit fa-lg add-update" href="#" id="@item.Id"></a>&nbsp;
                @Html.Raw(" | ")&nbsp;<a title="Delete" class="text-danger fa fa-lg fa-trash-o delete" href="#" id="@item.Id"></a>
            </td>
        </tr>
    }
    </tbody>
</table>