﻿@{
    ViewData["Title"] = "ItemGroup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card-box" id="genericView">
            <input type="hidden" value="ItemGroupForm" id="formUrl">
            <input type="hidden" value="/Settings/ItemGroupDelete/" id="deleteUrl">

                <div class="form-sec">
                    <form asp-controller="Settings" asp-action="SaveItemGroup" id="xformdata">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div id="formUI">

                        </div>
                    </form>
                </div>


                <input type="hidden" value="ItemGroupList" id="datatableUrl">
                <div class="tbl-sec table-responsive" id="xdataList">
                    @*------------------Table Data------------------*@
                </div>
        </div>


