﻿@model IEnumerable<AOTrade.Models.ViewModel.ItemVM>

<table class="data-table table table-bordered">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Item group
            </th>
            <th>
                Item name
            </th>
            <th>
                Description
            </th>
            <th>
                Create date
            </th>
            <th></th>
        </tr>
    </thead>
    @{ int sl = 0; }
    @foreach (var item in Model)
    {
        sl++;
        <tr>
            <td>
                @sl
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group.GroupName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td class="edit-delete">
                <a title="Edit" class="fa fa-edit fa-lg add-update" href="#" id="@item.Id"></a>&nbsp;
                @Html.Raw(" | ")&nbsp;<a title="Delete" class="text-danger fa fa-lg fa-trash-o delete" href="#" id="@item.Id"></a>
            </td>
        </tr>
    }
    </tbody>
</table>