﻿@model AOTrade.Models.ViewModel.ExpenseVM

<span class="font-14 text-input-head">Item Name</span>
<select asp-for="ItemId" asp-items="ViewBag.ItemId" class="form-control select2" id="itemGroupSelect" required>
    <option value="">--  Select item  --</option>
</select>
<span asp-validation-for="ItemId" class="text-danger"></span>
